/* Responsive part start */
@media screen and (max-width:600px){
    
.header{
    width: 100%;
    margin: 0 auto;
    height: 100px;
    background: rgb(12, 242, 242);
    }
    .logo{
      display:none;
    padding: 10px;
  
    }
    .logo img{
        width:55%;
        height:55%;
    }
    .menu{
    
    padding-top: 25px;
    }
    
    .menu ul li{
        display: inline-block;
    }
    .menu ul li a{
      
     font-size: 15px;
        padding-right: 15px;
    }
    .menu li a:hover{
        background: green;
        padding: 10px;
        color: rgb(240, 59, 74);
        border-radius: 20px;
    }

    /*HEADER PART END*/
    
/* Slider Part Start */
.slider{
width: 100%;
height: 600px;
margin: 0 auto;
background: linear-gradient(rgb(197, 186, 186),rgba(23, 172, 231, 0.6)),url(./Image/undraw_Educator_re_ju47.png);
background-repeat: no-repeat;
background-size:fit;
background-position:  center;

}
.slider h1{
    position: absolute;
    text-align: inherit;
top: 40%;
left: 14%;
color: rgb(6, 22, 236);
}
.slider p{
    position: absolute;
    text-align: inherit;
    top: 55%;
    left: 18%;
    color:rgb(66, 3, 3); 
}
.slider a{
    position: absolute;
    top: 75%;
    left:40%;
    text-decoration: none;
    border: 1px saddlebrown;
    padding: 10px 25px;
    color: blue;
    font-size: 15px;
    background: rgb(240, 59, 74);
    border-radius:20px;
}
/* Slider Part End */
}
/* Responsive part end */